@font-face {
  font-family: "tajawal";
  src: url("./Tajawal-Regular-2.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "tajawal";
  src: url("./Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
}
