@import "tailwindcss";
@import "./assets/fonts/fonts.css";

@theme {
  --color-primaryColor: #1a1e23;
  --color-secondaryColor: #d3a851;
  --color-tertiaryColor: #f7f5ed;
  --color-grayColor: #707070;
  --color-primaryTextColor: #1a1e24;
  --color-secondaryTextColor: #f5f2ea;

  --font-tajawal: "tajawal", sans-serif;
}

@layer base {
  body {
    @apply font-tajawal text-primaryTextColor bg-white;
  }
}

* {
  direction: rtl;
}
